In [7]:
 %matplotlib inline

In [8]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as stats
import warnings
warnings.filterwarnings('ignore')

In [9]:
weather_df = pd.read_csv('../Resources/WeatherDataCSV.csv')
mortality_df = pd.read_csv('../Resources/MasterDeathFile.csv')

In [10]:
weather_df.head()

      City  County  Year  Month  Temp
0  St Paul  Ramsey  2007      1  19.6
1  St Paul  Ramsey  2007      2  13.5
2  St Paul  Ramsey  2007      3  38.4
3  St Paul  Ramsey  2007      4  47.2
4  St Paul  Ramsey  2007      5  64.1

In [11]:
mortality_df.head()

   County  Month  Year  Deaths TenYearAgeGroups
0  Aitkin      2  2007      11            75-84
1   Anoka      1  2007      23            65-74
2   Anoka      2  2007      18            65-74
3   Anoka      3  2007      19            65-74
4   Anoka      4  2007      22            65-74